
$move-outline: 2px solid rgb(10, 89, 203) !default;
$moved-outline: 2px solid #888 !default;

div.dt-rowReorder-float-parent {
	table-layout: fixed;
	outline: $move-outline;
	z-index: 2001;
	position: absolute !important;
	overflow: hidden;
	border-radius: 3px;

	table.dt-rowReorder-float {
		opacity: 0.9;
		background-color: white;
		margin: 0 !important;
	}
}

tr.dt-rowReorder-moving {
	outline: $moved-outline;
	outline-offset: -2px;
}

body.dt-rowReorder-noOverflow {
	overflow-x: hidden;
}

table.dataTable td.reorder {
	text-align: center;
	cursor: move;
}

html.dark {
	div.dt-rowReorder-float-parent {
		outline-color: rgb(110, 168, 254);

		table.dt-rowReorder-float {
			background-color: var(--dt-html-background);
		}
	}

	tr.dt-rowReorder-moving {
		outline-color: #aaa;
	}
}
