div.dt-rowReorder-float-parent {
	table-layout: fixed;
	outline: var(--dtrr-move_outline-width) solid var(--dtrr-move_outline-color);
	z-index: 2001;
	position: absolute !important;
	overflow: hidden;
	border-radius: 3px;

	table.dt-rowReorder-float {
		opacity: var(--dtrr-move_opacity);
		background-color: var(--dt-html_background);
		margin: 0 !important;
	}
}

div.dt-rowReorder-float-parent.drop-not-allowed {
	cursor: not-allowed;
}

tr.dt-rowReorder-moving {
	outline: var(--dtrr-moved_outline-width) solid var(--dtrr-moved_outline-color);
	outline-offset: calc(var(--dtrr-moved_outline-width) * -1);
}

body.dt-rowReorder-noOverflow {
	overflow-x: hidden;
}

table.dataTable td.reorder {
	text-align: center;
	cursor: move;
}
